<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="editModalUser">Editar Cadastro de Usuário</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" (click)="close()" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="formCreateUser" (ngSubmit)="save">
            <div class="row align-items-start">

                <div class="col-sm-8">
                    <div class="form-group">
                        <label class="control-label required">Nome</label>
                        <input class="form-control" id="lastNameId" type="text" placeholder="Nome Completo"
                            formControlName="name" required />
                        <span
                            *ngIf="formCreateUser.get('name')?.errors && (formCreateUser.get('name')?.touched || formCreateUser.get('name')?.dirty)">
                            Nome é obrigatório
                        </span>
                    </div>
                </div>

                <div class="col-sm-8">
                    <div class="form-group">
                        <label class="control-label required">Nome do Usuário</label>
                        <input class="form-control" id="lastNameId" type="text" placeholder="Exemplo; Wenedy.Dutra"
                            formControlName="userName" required />
                        <span
                            *ngIf="formCreateUser.get('userName')?.errors && (formCreateUser.get('userName')?.touched || formCreateUser.get('userName')?.dirty)">
                            Nome do usuário é obrigatório
                        </span>
                    </div>
                </div>

                <div class="col-sm-8">
                    <div class="form-group">
                        <label class="control-label required">CPF</label>
                        <input class="form-control" id="cpf" type="tel" placeholder="CPF" mask="000.000.000-00"
                            formControlName="cpf" />
                      

                    </div>
                </div>

                <div class="col-sm-8">
                    <div class="form-group">
                        <label class="control-label required">Telefone</label>
                        <input class="form-control" id="phoneId" type="tel" mask="(00) 0 0000-0000" placeholder="Telefone"
                        formControlName="phone" />
                    </div>
                </div>

                <div class="col-sm-8">
                    <div class="form-group">
                        <label class="control-label required">Email</label>
                        <input class="form-control" id="email" type="email" placeholder="Email"
                            formControlName="email" />
                       
                    </div>
                </div>

            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-mdb-dismiss="modal" (click)="close()">Fechar
        </button>
        <button type="button" class="btn btn-success" (click)="save(formCreateUser.value)">Salvar
        </button>
    </div>
</div>